* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.root-container {
  width: 60%;
  margin: 0 auto;
  padding: 3px;
}

.user {
  display: flex;
  margin: 30px 0;
  color: #000;
}

.user-posts,
.comments,
.post {
  border: 0.5px solid rgba(0, 0, 0, 0.15);
}

.user-posts {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: burlywood;
}

.user-posts:hover {
  background-color: rgb(216, 189, 152);
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0, rgba(27, 31, 35, 0.15) 0 0 0 1px;
}

.posts-amount {
  align-self: flex-end;
}

.user-img {
  width: 30%;
  margin-right: 20px;
}

.user-img img {
  height: 100px;
  width: auto;
}

.bio-container {
  border: 2px solid rgb(236, 145, 8);
  margin-bottom: 10px;
  padding: 1rem;
}

.bio {
  margin: 20px 0;
}

.posts,
.posts-comments {
  display: flex;
  flex-direction: column;
}

.posts > * {
  margin-bottom: 10px;
}

.post {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  background-color: aliceblue;
}

.post:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.btn {
  padding: 8px 15px;
  align-self: center;
}

.comments-likes {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.post-comments {
  margin-bottom: 20px;
  background-color: rgb(255, 251, 246);
}

.comments {
  padding: 5px;
  margin-bottom: 15px;
}

.post-detail-container {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  margin-top: 10%;
}

.post-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}

.post-detail {
  line-height: 1.4;
  margin-bottom: 12px;
}

.footer {
  text-align: center;
  margin-top: auto;
  padding: 10px 10px 0 10px;
  bottom: 0;
  width: 100%;
  background: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 70%);
}

.add-comment,
.add-post {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  width: 60%;
  margin: 0 auto;
  padding: 12px;
}

.add-comment textarea,
.add-post textarea {
  border: 1px solid #ccc;
  outline: none;
  margin: 10px 0;
  min-height: 150px;
  padding: 8px 12px;
}

.add-comment input {
  width: min-content;
  align-self: center;
  padding: 8px 12px;
}

.add-post input[type=text] {
  border: 1px solid #ccc;
  outline: none;
  padding: 4px 8px;
  margin-bottom: 10px;
}

.signup-heading,
.login-heading {
  margin-top: 10%;
}

.login-signup-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 1rem;
  margin-left: 30%;
}

.signup-input {
  border: 1px solid #ccc;
  outline: none;
  width: 60%;
  padding: 4px 8px;
  margin-bottom: 10px;
}

.signup-input:focus {
  background-color: hsl(0, 0%, 90%);
}

.navigational-link {
  text-decoration: none;
}

.logout-btn {
  border: none;
  color: #333;
  font-size: 12px;
  font-weight: bold;
  padding: 0 15px;
  line-height: 32px;
  height: auto;
  display: inline-block;
  text-align: center;
  background-color: #ddd;
  border-radius: 4px;
}

.btn a {
  color: #000;
}

.like-btn {
  border: 1px solid #52ad6a;
  color: #21452a;
  background-color: #dcefe1;
}

.like-btn:hover {
  background-color: #cbe7d2;
}

.logout-btn:hover {
  background-color: #474747;
  color: #cacaca;
  border-radius: 6px;
}

.field {
  margin-top: 15px;
}

.profile-customize-btns {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.alert {
  background-color: #f3d8da;
  color: #692326;
}

.remove-btn {
  width: 30px;
  height: 30px;
  padding: 4px 8px;
  background-color: #f3d8da;
  color: #692326;
  border: 0.5px solid #f3d8da;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
}

.remove-btn:hover {
  border: 0.5px solid #692326;
}

.delete-post-btn {
  padding: 0.4rem 1rem;
  border-radius: 4rem;
  color: #ee1b26;
  border: 1px solid#ee1b26;
  cursor: pointer;
  text-decoration: none;
  margin: 0 10px;
  background-color: transparent;
  font-size: 10px;
}

.delete-post-btn:hover {
  border: 1px solid;
  background: #ee1b26;
  color: #fff;
}

@media (max-width: 800px) {
  .root-container {
    width: 100%;
  }
}
